$background-color: #bb91b5;
$white: #fff;
$background-shade: #e3d0d8;

//specific colors for phone
$athens-gray: #f7f8fa;
$shuttle-gray: #525c6b;
$indigo: #007AFF;

$phone-font: 'Roboto', sans-serif;
$heading-font: 'Permanent Marker', cursive;
$body-font: 'Questrial', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: $background-color;
    text-align: center;
    font-family: $body-font;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: $heading-font;
    margin: 0;
}

h1 {
    font-family: $body-font;
    text-transform: capitalize;
}

label:hover {
    cursor: pointer;
}