$backgroundColor: #bb91b5;
$white: #fff;
$accentColor: #b0d0d3;
$backgroundShade: #ba9ab5;

//specific colors for phone
$athens-gray: #f7f8fa;
$shuttle-gray: #525c6b;
$indigo: #3f74ca;

$phone-font: 'Roboto', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background: $backgroundColor;
    text-align: center;
    font-family: $phone-font;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}

h1, h2 {
    // text-shadow: 3px 3px $accentColor;
}