$backgroundColor: #bb91b5;
$white: #fff;
$athens-gray: #f7f8fa;
$shuttle-gray: #525c6b;
$indigo: #3f74ca;

$phone-font: 'Roboto', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background: $backgroundColor;
    text-align: center;
}